# Supabase (auth + projects)
SUPABASE_URL=https://ejeikggxhycimbtaugmw.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_ORoKCna69Lyf5UZtOX94BQ_FScgJr2F
SUPABASE_JWT_SECRET=d0eba71b-e057-468a-a441-75803dac3ea6
